$header-background-color: #DDD;
$border: 1px solid $header-background-color;

.cs-data-table {
  .cs-data-table-toolbar {
    display: flex;
    padding: 10px;
    background-color: lighten($header-background-color, 10%);

    .cs-data-table-searchbar {
      margin-left: auto;

      input {
        width: 200px;
      }
    }
  }

  table {
    width: 100%;
    color: #444;
    background: #FFF;
    border: $border;
    border-collapse: collapse;

    thead th {
      color: #444;
      background-color: $header-background-color;
    }

    th,
    td {
      padding: .5em;
      border: $border;

      &.empty {
        text-align: center;
      }
    }

    tbody tr:nth-of-type(odd) {
      background-color: lighten($header-background-color, 10%);
    }
  }
}
